:root {
    --main--bg-color: var(--main-white-color);
    --main-green-color: #006942;
    --main-white-color: #fff;
    --regular-text-color: #444444;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
}

img {
    width: 100%;
}

body {
    background-color: var(--main--bg-color);
}

a {
    text-decoration: none;
    display: inline-block;
}

.font_awesome_icons {
    background-color: transparent;
    color: #ccc;
    font-size: 1.5rem;
    cursor: pointer;
}

.carousell_button {
    border: 1px solid #ccc;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    border-radius: 3.125rem;
    cursor: pointer;
    margin-right: .2rem;
}


/* Promo Section */

.promo_section {
    display: flex;
    background-color: var(--main-white-color);
    height: 4rem;
    align-items: center;
    justify-content: center;
}

.promo_section_items_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 98%;
}

.promo_carousell_button_active {
    background-color: var(--main-green-color);
    border: none;
}

.promo_text {
    color: var(--main-green-color);
    font-size: 1rem;
}

#x_icon {
    color: #ccc;
}

.transparent_button {
    border: 3px solid transparent;
    padding: 10px 25px;
    text-transform: uppercase;
}

.transparent_button_white {
    border: 3px solid var(--main-white-color);
}

/* Header Section */

#logo {
    width: 9rem;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 1.563rem;
    position: absolute;
    width: 100%;
}

.logo_nav_separator {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 3.75rem;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 98%;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav li a {
    font-size: 1.125rem;
    color: var(--main-white-color);
    margin-right: 2.5rem;
}

.login_button {    
    margin-left: 1.875rem;
    color: var(--main-white-color);
}

.magnifying_icon {
    color: var(--main-white-color);
}

.header_icon_login_seperator {
    display: flex;
    align-items: center;
}

/* Hero Section */

.hero_section {
    background: url(./Hero_Section_Image.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    height: 50rem;
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero_section_content_wrapper {
    margin: 200px 0px 0px 100px;
}

.mortagage_button {
    color: var(--main-white-color);
    font-size: 1.125rem;
}

.hero_section_title {
    font-size: 2.5rem;
    color: var(--main-white-color);
    line-height: 1.1;
    margin-bottom: 1rem;
}

.hero_section_text {
    margin-bottom: 2rem;
    color: var(--main-white-color);
    line-height: 1.7;
    font-size: 1.125rem;
}

.hero_carousell_button_active {
    background-color: var(--main-white-color);
}

.hero_carousell_buttons_container {
    width: 98%;
    align-self: center;
    margin-bottom: 1.875rem;
}

/* Why Section */

.why_section_title {
    color: var(--main-green-color);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3.75rem;
}

.why_section_subtitle {
    color: var(--regular-text-color);
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 1.875rem;
}

.why_section {
    display: flex;
    flex-direction: column;
}

.why_section_circles {
    display: flex;
    justify-content: space-around;
    margin-top: 3.75rem;
}

.why_section_circle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why_section_circle_images {
    width: 240px;
    border: 0.25rem solid #ccc;
    border-radius: 50% !important;
    height: 240px;
    transition: all ease .3s;
}

.why_section_circle_title {
    color: var(--main-green-color);
    font-size: 1.375rem;
    margin-top: 0.625rem;
}

.why_section_circle_text {
    margin-top: 0.625rem;
    font-size: 1.125rem;
    color: var(--regular-text-color);
}

.why_section_circle_images:hover {
    border: 0.25rem solid var(--main-green-color);
}